<div class="span3"> 
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'index' %>"><%= link_to "<i class=\"icon-home\"></i> Home".html_safe, dashboard_index_path %></li>
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'friends' %>"><%= link_to "<i class=\"icon-group\"></i> Friends #{friend_request_notification}".html_safe, friends_dashboard_index_path %></li>
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'orders' %>"><%= link_to "<i class=\"icon-shopping-cart\"></i> Orders".html_safe, orders_dashboard_index_path %></li>
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'shopping_lists' %>"><%= link_to "<i class=\"icon-list\"></i> Shopping lists".html_safe, shopping_lists_dashboard_index_path %></li>
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'liked_products' %>"><%= link_to "<i class=\"icon-thumbs-up\"></i> Liked products".html_safe, liked_products_dashboard_index_path %></li>
        <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'favorite_products' %>"><%= link_to "<i class=\"icon-heart\"></i> Favorites".html_safe, favorite_products_dashboard_index_path %></li>
      <li class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'recipes' %>"><%= link_to "<i class=\"icon-food\"></i> Recipes".html_safe, recipes_dashboard_index_path %></li>
      <li class="divider"></li>
      <li class="<%= 'active' if params[:controller] == 'devise/registrations' && params[:action] == 'edit' %>"><%= link_to "<i class=\"icon-wrench\"></i> Settings".html_safe, edit_user_registration_path %></li> 
      <li><%= link_to "<i class=\"icon-share\"></i> Logout".html_safe, destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
  <% unless params[:controller] == 'devise/registrations' && params[:action] == 'edit' %>
    <div class="well" style="text-align: center;">
      <% if session[:active_recipe] == nil %>
          <h5 class="muted"><%= image_tag 'shopping-cart.png' %> Your Konzum cart</h5>
          <div id="cart">
            <%= render :partial => 'shared/cart' %>
          </div>
      <% else %>
          <h5 class="muted"><%= image_tag 'ingredients.png' %> Your Ingredients</h5>
          <div id="ingredients">
            <%= render :partial => 'shared/ingredients' %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
