<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;"><i class="icon-wrench"/></i> Settings</h4>
  </div>

  <div class="well">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :method => :put }) do |f| %>
      <%= devise_error_messages1!.html_safe %>

      <legend>User settings</legend>

      <div class="control-group">
        <%= f.label :first_name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name, :class => "input-xlarge" %>   
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :last_name, :class => "input-xlarge" %>   
        </div>
      </div>

      <div class="control-group">
        <%= f.label :gender, :class => "control-label" %>
        <div class="controls">
          <label class="radio inline">
            <%= radio_button("user", "gender", "M") %>
              <i class="icon-male"></i> Male
            </label>
          <label class="radio inline">
            <%= radio_button("user", "gender", "F") %>
              <i class="icon-female"></i> Female
          </label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :class => "input-xlarge" %>   
        </div>
      </div>

     <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %> -->

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password, :autocomplete => "off", :class => "input-xlarge" %>
          <p class="help-block"><i>(leave blank if you don't want to change it)</i></p> 
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
        </div>
      </div>

      <% if !current_user.encrypted_password.blank? %>
        <div class="control-group">
          <%= f.label :current_password, :class => "control-label" %> 
          <div class="controls">
            <%= f.password_field :current_password, :class => "input-xlarge" %>
            <p class="help-block"><i>(we need your current password to confirm your changes)</i></p>
          </div>
        </div>
      <% end %> 

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Update", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if !current_user.connected_with_facebook? %>
      <a class="btn btn-facebook" href="<%= omniauth_authorize_path(resource_name, :facebook) %>">
      <i class="icon-facebook"></i> | Connect with Facebook</a>
  <% end %> 

  <%= link_to "<i class=\"icon-trash\"></i> Cancel my account".html_safe, registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>

</div>