<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;">
      <i class="icon-food"/></i> Recipes
    </h4>
  </div>

  <h4><%= @recipe.name %><small> by <%= link_to @recipe.user.full_name, profile_user_path(@recipe.user) %></small></h4>
  <hr></hr>
    <h5>Ingredients</h5>
    <table class="table table-striped">  
      <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td style="width: 55px;">
          <%= link_to (image_tag ingredient.product.image_small, :class => "imageClip pull-left"), product_path(ingredient.product), :class => "thumbnail pull-left", :style => "width: 50px; height: 50px;", :title => ingredient.product.name %>
        </td>
        <td><%= ingredient.quantity %>&times; <%= ingredient.product.name %></td>
        <td><%= number_to_currency(ingredient.product.price * ingredient.quantity, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
        <td>
          <%= link_to "<i class=\"icon-info\"> Product info</i>".html_safe, product_path(ingredient.product), :class => "btn btn-small" %>
        </td>
      </tr>
      <% end %>
      <tr>
        <th></th>
        <th>Total:</th>
        <th><%= number_to_currency(@recipe.total_current_amount, :unit => "HRK ", :separator => ',', :delimiter => '.') %><th>
      </tr>
    </table>
    <%= link_to "<i class=\"icon-plus\"></i> Add all ingredients to cart".html_safe, add_all_to_cart_recipe_path(@recipe), :class => "btn btn-primary" %>
   <hr></hr>
    <h5>Instructions</h5>  
    <%= @recipe.instructions %>
</div>