<div class="span3"> 
  <div class="span12 well well-large">
    <%= image_tag @user.profile_picture('large'), :class => "span12 img-polaroid profile" %>
    <h4><%= @user.full_name %></h4>
    <hr class="profile">
    <p class="muted"><i class="icon-envelope-alt"></i> E-mail </p>
    <p><%= @user.email %></p>
    <p class="muted"><i class="icon-time"></i> Joined on </p>
    <p><%= @user.created_at.strftime("%B %d, %Y") %></p>
    <hr class="profile">
    <p class="muted" style="text-align: center"><i class="icon-group"></i> Friends </p>
      <%= render :partial => 'friends_popover' %>
  </div>
</div>