<%= render 'user_sideinfo' %>

<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;"><i class="icon-list"></i> <%= @user.first_name %>'s wall</h4>
  </div>

  <div class="pagination">
    <%= will_paginate @user_activities, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
  </div>

  <%= render :partial => 'shared/list_user_activities', :locals => {:user_activities => @user_activities} %>

  <div class="pagination">
    <%= will_paginate @user_activities, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
  </div>

</div>