<script type="text/javascript">
  $(document).ready(function() {
    $('a[disabled=disabled]').click(function(event){
        event.preventDefault();
        return false; // Prevent link from following its href
    });
  });
</script>

<% unless @cart.cart_items.blank? %>
  <table class="table table-condensed" style="font-size: small;">
    <% @cart.cart_items.sort.each do |item|%>
      <% if item == @current_item %>
        <tr id="current_item">
      <% else %>
        <tr>
      <% end %>
          <td><%= item.quantity %> &times; <%= item.product.name %></td>
          <td><%= number_to_currency(item.product.price * item.quantity, :separator => ',', :delimiter => '.', :unit => '') %></td>
          <td><%= link_to "<i class=\"icon-remove\"></i>".html_safe, cart_item_path(item), :method => :delete, :remote => true %>
      </tr>
    <% end %>
    <tr>
      <th>Total:</th>
      <th><%= number_to_currency(@cart.total_amount, :separator => ',', :delimiter => '.', :unit => '') %><th>
    </tr>
  </table>
<% else %>
  <div class="well">
    <small>Your cart is currently empty.</small>
  </div>
<% end %>

<div class="btn-group">
  <%= link_to "<i class=\"icon-shopping-cart\">Checkout</i>".html_safe, "#orderModal", :class => "btn btn-primary", :id => @cart.cart_items.blank? ? "" : "checkout", :data_toggle => "modal", :disabled => @cart.cart_items.blank? %>
  <%= link_to "<i class=\"icon-trash\"> Empty cart</i>".html_safe, cart_path(@cart), :class => "btn btn-danger", :id => "empty-cart", :method => :delete, :disabled => @cart.cart_items.blank? %>
</div>

<%= render :partial => "shared/order_modal" %>