<% unless @cart.cart_items.blank? %>
  <table class="table table-condensed" style="font-size: small;">
    <% @cart.cart_items.sort.each do |item|%>
      <% if item == @current_item %>
        <tr id="current_item">
      <% else %>
        <tr>
      <% end %>
          <td><%= item.quantity %> &times; <%= item.product.name %></td>
          <td><%= "#{item.product.price} x #{item.quantity}" %></td>
          <td><%= link_to "<i class=\"icon-remove\"></i>".html_safe, cart_item_path(item), :method => :delete, :remote => true %>
      </tr>
    <% end %>
    <tr>
      <th>Total:</th>
      <th><%= number_to_currency(@cart.total_amount, :separator => ',', :delimiter => '.', :unit => '') %><th>
    </tr>
  </table>
<% else %>
  <div class="well">
    <small>Your cart is currently empty.</small>
  </div>
<% end %>

<div class="btn-group">
  <%= link_to "<i class=\"icon-shopping-cart\"> Checkout</i>".html_safe, "#", :class => "btn btn-primary", :disabled => @cart.cart_items.blank? %>
  <%= link_to "<i class=\"icon-trash\"> Empty cart</i>".html_safe, cart_path(@cart), :class => "btn btn-danger", :method => :delete, :disabled => @cart.cart_items.blank? %>
</div>