<table class="table table-striped">
  <thead>
    <tr>
      <th>Rating</td>
      <th>Product name</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% popular_products.each do |rec| %>
      <tr>
        <td style="width: 180px;">
          <div>
            Rating: <span class="pull-right strong"><%= ((rec.factor.to_f/max_factor.to_f)*100).to_i %> %</span>
            <div class="progress progress-striped active">
              <div class="bar " style="width: <%= ((rec.factor.to_f/@max_factor.to_f)*100).to_i %>%;"></div>
            </div>
          </div>
        </td>
        <td><%= rec.product.name %></td>
        <td><%= number_to_currency(rec.product.price, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
        <td>
          <%= link_to "<i class=\"icon-info\"> Info</i>".html_safe, product_path(rec.product), :class => "btn btn-small" %>
        </td>
        <td>
          <%= add_btn_helper(rec.product) %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>