<div class="pagination">
  <%= will_paginate likes, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Product name</th>
      <th>Unit</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% likes.select{|e| e.likeable_type == 'PRODUCT' }.each do |like| %>
      <tr>
        <td style="width: 55px;">
          <%= link_to (image_tag like.product.image_small, :class => "imageClip pull-left"), product_path(like.product), :class => "thumbnail pull-left", :style => "width: 50px; height: 50px;", :title => like.product.name %>
        </td>
        <td><%= truncate like.product.name, :length => 65 %></td>
        <td><%= like.product.sales_unit_of_measure %></td>
        <td><%= number_to_currency(like.product.price, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
        <td>
          <%= link_to "<i class=\"icon-info\"> Info</i>".html_safe, product_path(like.product), :class => "btn btn-small" %>
        </td>
        <td>
          <%= add_btn_helper(like.product, :small) %>
        <td>
          <% if like.user == current_user%>
            <td><%= link_to "<i class=\"icon-remove\"></i>".html_safe, like_path(like), :method => :delete, :title => "Dislike" %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate likes, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>