<div class="pagination">
  <%= will_paginate favorites, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Unit</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% favorites.each do |favorite| %>
      <tr>
        <td><%= truncate favorite.product.name, :length => 65 %></td>
        <td><%= favorite.product.sales_unit_of_measure %></td>
        <td><%= number_to_currency(favorite.product.price, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
        <td>
          <%= link_to "<i class=\"icon-info\"> Info</i>".html_safe, product_path(favorite.product), :class => "btn btn-small" %>
        </td>
        <td>
          <%= link_to "<i class=\"icon-shopping-cart\"> Add to cart</i>".html_safe, cart_items_path(:product_id => favorite.product.id), :class => "btn btn-primary btn-small", :method => :post, :remote => true %>
        <td>
        <td><%= link_to "<i class=\"icon-remove\"></i>".html_safe, favorite_path(favorite), :method => :delete, :title => "Remove from favorites" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate favorites, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>