<table class="table table-striped">
  <thead>
    <th>Shopping list name</th>
    <th>Comment preview</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% shopping_lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td>
          <%= truncate list.comment, :length => 70 %>  
        </td>
        <td>
          <%= link_to "<i class=\"icon-file-text-alt\"></i> View shopping list".html_safe, shopping_list_path(list), :class => "btn btn-primary btn-small" %>          
        </td>
        <% if list.users.include? current_user %>
          <td>
            <%= link_to "<i class=\"icon-edit\"></i> View and Edit list".html_safe, edit_shopping_list_path(list), :class => "btn btn-primary btn-small" %>
          </td>
          <td>
          <%= link_to "<i class=\"icon-remove\"></i>".html_safe, recipe_path(recipe), :method => :delete, :title => "Remove from favorites" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>