<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;">
      <i class="icon-list"/></i> Shopping lists
    </h4>
  </div>

  <h4><%= @list.name %></h4>
  <hr></hr>
  <h5>Products</h5>
  <table class="table table-striped">  
    <% @list.list_items.each do |item| %>
    <tr>
      <td><%= link_to (image_tag item.user.profile_picture('square'), :class => "imageClip pull-left"), profile_user_path(item.user), :class => "thumbnail pull-left", :style => "width: 50px; height: 50px;", :title => item.user.full_name %> </td>
      <td>added:</td>
      
      <td style="width: 55px;">
        <%= link_to (image_tag item.product.image_small, :class => "imageClip pull-left"), product_path(item.product), :class => "thumbnail pull-left", :style => "width: 50px; height: 50px;", :title => item.product.name %>
      </td>
      <td><%= item.quantity %>&times; <%= item.product.name %></td>
      <td><%= number_to_currency(item.product.price * item.quantity, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
      <td>
        <%= link_to "<i class=\"icon-info\"> Product info</i>".html_safe, product_path(item.product), :class => "btn btn-small" %>
      </td>
    </tr>
    <% end %>
    <tr>
      <th></th>
      <th>Total:</th>
      <th><%= number_to_currency(@list.total_current_amount, :unit => "HRK ", :separator => ',', :delimiter => '.') %><th>
      </tr>
    </table>
    <%= link_to "<i class=\"icon-plus\"></i> Add all products to cart".html_safe, add_all_to_cart_shopping_list_path(@list), :class => "btn btn-primary" %>
    <hr></hr>
    <h5>Comments</h5>  
    <%= @list.comment %>
  </div>