<div class="well well-small">
  <h4 style="margin-left: 15px;">Konzum Online Shop<h4>
</div>

<% unless @popular_products.blank? %>
  <blockquote>
    <p>Top products between your friends</p>
  </blockquote>

  <div class="row-fluid">
    <ul class="thumbnails">
      <% @popular_products.limit(3).each do |rec| %>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag 'image_unavailable_gray_top.png' %>
            <div class="caption">
              <h4><%= truncate rec.product.name, :length => 50 %></h4>
              <p>
                <small><b>Price: </b><%= number_to_currency(rec.product.price, :unit => "HRK ", :separator => ',', :delimiter => '.') %></small><br />
                <small><b>Sales unit of measure: </b><%= rec.product.sales_unit_of_measure %></small><br />
                <small><b>Manufacturer: </b><%= rec.product.manufacturer %></small><br />
                <small><b>Supplier: </b><%= rec.product.supplier %></small><br />
              </p>
              <p>
                <span class="badge badge-success pull-right"><%= ((rec.factor.to_f/@max_factor.to_f)*100).to_i %>%</span>
                <%= add_btn_helper(rec.product, :medium) %>
                <%= link_to "<i class=\"icon-info\"></i> Info".html_safe, product_path(rec.product), :class => "btn" %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <blockquote>
    <p>Other popular products</p>
  </blockquote>

  <%= render :partial => 'shared/popular_friends_products_list', :locals => {:popular_products => @popular_products, :max_factor => @max_factor} %>

<% end %>