<div class="well">
  <h3><%= @category.name %></h3>
  <% unless @category.parent.nil? %>
    <p><%= render_category_path(@category).html_safe %></p>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @products, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Product name</th>
      <th>Unit of measure</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td style="width: 55px;">
          <%= link_to (image_tag product.image_small, :class => "imageClip pull-left"), product_path(product), :class => "thumbnail pull-left", :style => "width: 50px; height: 50px;", :title => product.name %>
        </td>
        <td><%= truncate product.name, :length => 65 %></td>
        <td><%= product.sales_unit_of_measure %></td>
        <td><%= number_to_currency(product.price, :unit => "HRK ", :separator => ',', :delimiter => '.') %></td>
        <td>
          <%= link_to "<i class=\"icon-info\"> Info</i>".html_safe, product_path(product), :class => "btn btn-small" %>
        </td>
        <td>
          <%= add_btn_helper(product) %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @products, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
</div>
