<!DOCTYPE html>
<html>
<head>
  <title>KonzumSocial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/navbar' %>
  <header class="jumbotron subhead" id="overview">
    <div class="container">
      <%= image_tag 'banner.png'%>
      <%= yield %>
    </div>
  </header>

  <div class="bs-docs-brands">
    <div class="container">
     <ul class="bs-docs-brands-buttons">  
<!--  <li>
        <%= link_to(image_tag("agrokor-logo.png", :title => 'Agrokor'), 'http://www.agrokor.hr', :target => '_blank') %>
      </li>
-->
      <li>
        <%= link_to(image_tag("konzum-logo.png", :title => 'Konzum Web'), 'http://www.konzum.hr', :target => '_blank') %>
      </li>
      <li>
        <%= link_to(image_tag("kamion-small.gif", :title => 'Konzum Webshop'), 'http://online.konzum.hr', :target => '_blank') %>
      </li>
    </ul>
    </div>
  </div>

  <div class="container">
    <div class="marketing">
      <h1>Discover Konzum Social</h1>
      <p class="marketing-byline">Social shopping application and recommendation engine</p>

      <div class="row-fluid">
        <div class="span4">
          <%= image_tag 'facebook-icon.png', :class => 'marketing-img' %>
          <h2>Facebook integration</h2>
          <p>Integrated with Facebook, Konzum Social Network provides insight into your friends' consumer habits and allows you to post, like and share Konzum products and your shopping activities.</p>
        </div>
        <div class="span4">
          <%= image_tag 'basket-full-icon.png', :class => 'marketing-img' %>
          <h2>Recommendation engine</h2>
          <p>The main feature of Konzum Social Network is recommendation engine which is based on actual consumer statistics, as well as your and your friends' interests and activities.</p>
        </div>
        <div class="span4">
          <%= image_tag 'cart-icon.png', :class => 'marketing-img' %>
          <h2>Konzum Webshop</h2>
          <p>Konzum Social Network is integrated with Konzum Webshop which allows you to complete your purchase and share purchased products with your friends.</p>
        </div>
      </div>
    </div>

    <hr class="footer">
    
    <footer class="pull-right">
      <p class="muted">&copy; Picspot Team 2013</p>
    </footer>
  </div>

</body>
</html>
